nano_vectordb==0.0.4.3
networkx==3.4.2
numpy==1.26.4
openai>=1.0.0,<2.0.0
protobuf>=5.26.0,<6.0.0
pydantic==2.10.4
python_igraph==0.11.8
scipy==1.14.1
sentence_transformers==3.3.1
tenacity==8.5.0
tiktoken==0.7.0
torch==2.6.0
tqdm==4.66.6
vllm==0.8.5post1
transformers==4.51.1
nest_asyncio>=1.5.0,<2.0.0
dspy==2.5.29
einops>=0.7.0,<1.0.0
pandas>=2.0.0,<3.0.0
regex>=2023.0.0
nltk>=3.8.0,<4.0.0
backoff>=2.2.0,<3.0.0
bm25s>=0.1.0,<1.0.0
evaluate>=0.4.3,<1.0.0
datasets>=2.20.0